
<!DOCTYPE html><html lang="en-US" prefix="og: https://ogp.me/ns#">
<head><meta charset="utf-8">
<title> {{#author}}{{name}}:{{/author}}
 {{#name}}{{.}} {{/name}}
 {{^name}}
{{#content-plain}}
  {{.}}
{{/content-plain}}
 {{/name}}
 
  </title>
<style>
main {
  max-width: 38rem;
  padding: 1.5rem;
  margin: auto;
}
.metadata {
    color:grey;
    margin-top: 1em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, sans-serif;
}

figure img {
  width:100%;
}
</style>
</head>
<body>
<main>
<article class="h-entry {{post_type}}">
 <h1 class="p-name">{{name}}</h1>

{{#summary}}
 <div class="e-summary"> {{summary}}</div>
{{/summary}}

{{#in-reply-to}}
<p>
<em>
A reply to: <a href="{{url}}" class="u-in-reply-to"> {{url}}</a>
</em>
</p>
{{/in-reply-to}}
{{#content}}
 <div class="e-content">
  {{{content}}}
 </div>
 {{/content}}
{{#photos}}
<div>
  {{#value}}
    <a href="{{value}}"><img class="u-photo" src="{{value}}" alt="{{alt}}" style="max-width:100%"/></a>
  {{/value}}
  {{^value}} {{! this means that photos is a list of strings, not a list of dictionaries }}
    <a href="{{.}}"><img class="u-photo" src="{{.}}" width="100%"/></a>
  {{/value}}
</div>
{{/photos}}

 <div class="metadata">
 {{#author}}
This {{post_type}} was published by <a href="{{url}}" class="p-author h-card">{{name}}</a>
 {{/author}}
on <time class="dt-published" datetime="{{published}}">{{published_date_formatted}} at {{published_time_formatted}} ({{timezone}})</time>.
<a href="{{url}}">🔗</a> </div>
</article>
</main>
</body>